# ! normalise tout en LF dans le dépôt, quel que soit l'OS de travail
* text=auto eol=lf

# ! scripts Windows : CRLF obligatoire dans le working tree
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# ! binaires : jamais touchés
*.png binary
*.jpg binary
*.pdf binary
*.jar binary
